<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header"><strong>Εγγραφή Νέου Ασθενή </strong></div>

      <div class="card-body">


        <div class="example">
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-coreui-toggle="tab" href="#preview-789" onclick="return false" role="tab"
                id="UserForm">
                Φόρμα Εγγραφής</a>
            </li>


            <li class="nav-item">
              <a class="nav-link " data-coreui-toggle="tab" href="#preview-790" onclick="return false" role="tab"
                id="UserEmailForm">
                Φόρμα Εγγραφής με email</a>
            </li>
          </ul>





          <!-- ============================================================ Form===================================================== -->

          <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview" role="tabpanel" id="UserFormDiv">
              <form action="/patient/AddPatient" method="POST">
                {{!-- -------------------------------- --}}


                <div class="row g-3">

                  <div class="col-md-4">
                    <label class="form-label" for="validationDefault01">Όνομα</label>
                    <input class="form-control" name="fname" type="text" placeholder="Μάριος" required="">
                  </div>

                  <div class="col-md-4">
                    <label class="form-label" for="validationDefault02">Επίθετο</label>
                    <input class="form-control" name="lname" type="text" placeholder="Παππάς" required="">
                  </div>

                  <div class="col-md-4">
                    <label class="form-label" for="DateOfBirth">Ημερομηνία Γέννησεως</label>
                    <input class="form-control" name="DateOfBirth" type="date" required="">
                  </div>





                  <div class="col-md-4">
                    <label class="form-label" for="streetName">Διεύθηνση</label>
                    <input class="form-control" id="streetName" name="streetName" type="text" required="">
                  </div>

                  <div class="col-md-3">
                    <label class="form-label" for="streetNumber">Αριθμός</label>
                    <input class="form-control" id="streetNumber" name="streetNumber" type="number" required="">
                  </div>

                  <div class="col-md-3">
                    <label class="form-label" for="streetZip">Τ.Κ.</label>
                    <input class="form-control" id="streetZip" name="streetZip" type="number" required="">
                  </div>


                  <div class="col-md-4">
                    <label class="form-label" for="identification">Στοιχεία Αστυνομικής Ταυτότητας</label>
                    <input class="form-control" id="identification" name="identification" type="text" required="">
                  </div>



                  <div class="col-md-4">
                    <label class="form-label" for="AsfalistikoTameio">Ασφαλιστικό Ταμείο</label>
                    <input class="form-control" id="AsfalistikoTameio" name="AsfalistikoTameio" type="text" required="">
                  </div>


                  <div class="col-md-4">
                    <label class="form-label" for="UserAmka">AMKA</label>
                    <input class="form-control" id="UserAmka" name="UserAmka" type="number" required="">
                  </div>



                  <div class="col-md-4">
                    <label class="form-label" for="validationDefaultEmail">Email</label>
                    <div class="input-group"><span class="input-group-text" id="inputGroupPrepend2">@</span>
                      <input class="form-control" name="email" type="email" placeholder="email@email.gr">
                    </div>
                  </div>

                  <div class="col-md-4">
                    <label class="form-label" for="validationMobile">Κινητό</label>
                    <input class="form-control" name="mobile_number" type="number" placeholder="6972364565" required="">
                  </div>

                  <div class="col-md-4">
                    <label class="form-label" for="validationMobile">Σταθερό</label>
                    <input class="form-control" name="home_number" type="number" placeholder="2294022222" required="">
                  </div>


                  <div class="col-md-4 mt-5">
                    <p>Φύλο</p>
                              <label>
                                <input type="checkbox" class="radio historyCheckd" value="man" name="gender"
                                  id="historyCheckd" />'Αντρας</label>
                              <label>
                                <input type="checkbox" class="radio historyCheckd" value="woman" name="gender"
                                  id="historyCheckd" value="false" />Γυναίκα</label>
                  </div>

                </div>


                {{!-- -------------------------------- --}}
                <div></div>
                <hr>
                {{!-- -------------- table relatives------------------ --}}

                <div class="table-responsive">
                  <table class="table border mb-0">

                    <thead class="table-light fw-semibold">
                      <tr class="align-middle">
                        <th class="col-md-2">Συγγενείς Α' Βαθμού</th>
                        <th class="col-md-2">Ηλικία</th>
                        <th scope="col">Κατάσταση Υγείας</th>
                        <th scope="col" class="col-md-2">Ηλικία Θανάτου</th>
                        <th scope="col">Αιτία Θανάτου</th>

                      </tr>
                    </thead>

                    <tbody>
                      <tr class="align-middle">

                        <th scope="row">Πατέρας</th>
                        <td class="text-center"><input class="form-control" type="number" id="fatherAge"
                            name="fatherAge"></td>
                        <td class="text-center"><input class="form-control" type="text" id="fatherHealth"
                            name="fatherHealth"></td>
                        <td class="text-center"><input class="form-control" type="number" id="fatherAgeDeath"
                            name="fatherAgeDeath"></td>
                        <td class="text-center"><input class="form-control" type="text" id="fatherReasonDeath"
                            name="fatherReasonDeath"></td>

                      </tr>







                      <tr class="align-middle">
                        <th scope="row">Μητερα</th>
                        <td><input class="form-control" type="number" id="motherAge" name="motherAge"></td>
                        <td><input class="form-control" type="text" id="motherHealth" name="motherHealth"></td>
                        <td><input class="form-control" type="number" id="motherAgeDeath" name="motherAgeDeath"></td>
                        <td><input class="form-control" type="text" id="motherReasonDeath" name="motherReasonDeath">
                        </td>
                      </tr>

                      <tr class="align-middle">
                        <th scope="row">Αδελφοί</th>
                        <td><input class="form-control" type="number" id="brotherAge" name="brotherAge"></td>
                        <td><input class="form-control" type="text" id="brotherHealth" name="brotherHealth"></td>
                        <td><input class="form-control" type="number" id="brotherAgeDeath" name="brotherAgeDeath"></td>
                        <td><input class="form-control" type="text" id="brotherReasonDeath" name="brotherReasonDeath">
                        </td>
                      </tr>

                      <tr class="align-middle">
                        <th scope="row">Αδελφές</th>
                        <td><input class="form-control" type="number" id="sisterAge" name="sisterAge"></td>
                        <td><input class="form-control" type="text" id="sisterHealth" name="sisterHealth"></td>
                        <td><input class="form-control" type="number" id="sisterAgeDeath" name="sisterAgeDeath"></td>
                        <td><input class="form-control" type="text" id="sisterReasonDeath" name="sisterReasonDeath">
                        </td>
                      </tr>

                      <tr class="align-middle">
                        <th scope="row">Συζυγος</th>
                        <td><input class="form-control" type="number" id="wifeAge" name="wifeAge"></td>
                        <td><input class="form-control" type="text" id="wifeHealth" name="wifeHealth"></td>
                        <td><input class="form-control" type="number" id="wifeAgeDeath" name="wifeAgeDeath"></td>
                        <td><input class="form-control" type="text" id="wifeReasonDeath" name="wifeReasonDeath"></td>
                      </tr>




                    </tbody>
                  </table>
                </div>






                {{!-- -------------------------------- --}}
                <div></div>
                <hr>

                {{!--
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> --}}


                <table id="" class="table table-bordered" style="text-align: center">

                  <tbody>


                    <tr class="align-middle">
                      <td class="col-sm-4">
                        <p>Υπάρχει στην οικογένειά σας ιστορικό καρδιοπάθειας, σακχαρώδη διαβήτη,
                          νευρολογικής νόσου, φυματιώσεως, μεσογειακής αναιμίας, συγγενούς ανωμαλίας κατά τη διάπλαση
                          (συγγενές εξάρθρημα ισχίου κ.λ.π); </p>


                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio historyCheckd" value="true" name="history"
                                  id="historyCheckd" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio historyCheckd" value="false" name="history"
                                  id="historyCheckd" value="false" />Οχι</label>
                              <div id="historyText" style="display:none;">
                                <hr>
                                <p>Περιγράψτε</p>
                                <input class="form-control" type="text" name="historyText">
                              </div>




                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td class="col-sm-4">
                        <p>Είστε καπνιστής; </p>


                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="smoker"
                                  value="true" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="smoker"
                                  value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td class="col-sm-4">
                        <p>Κάνετε χρήση οινοπνευματικών ποτών; </p>


                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="alcohol"
                                  value="true" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="alcohol"
                                  value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>





                    <tr class="align-middle">
                      <td>
                        <p>Υπηρετήσατε κανονικά στο στατό, χωρίς αναβολή για λόγους υγεί- ας; (για άνδρες); </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio armyCheckd" value="true" name="army"
                                  id="armyCheckd" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio armyCheckd" value="false" name="army"
                                  id="armyCheckd" value="false" />Οχι</label>
                              <div id="armyText" style="display:none;">
                                <hr>
                                <p>Περιγράψτε</p>
                                <input class="form-control" type="text" name="armyText">
                              </div>




                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Πήρατε ποτέ αναρρωτική άδεια από το ασφαλιστικό ταμείο σας ή παραμείνατε μερικά ή ολικά
                          ανίκανος για εργασία για κάποιο χρονικό διάστημα;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio annarotikiCheckd" value="true" name="annarotiki"
                                  id="annarotikiCheckd" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio annarotikiCheckd" value="false" name="annarotiki"
                                  id="annarotikiCheckd" value="false" />Οχι</label>

                              <div id="annarotikiText" style="display:none;">
                                <hr>
                                <p>Λόγος;</p>

                                <textarea class="form-control" name="annarotikiText" rows="4" cols="50">
</textarea>
                              </div>




                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>



                    <tr class="align-middle">
                      <td>
                        <p>Βρίσκεστε τώρα σε ιατρική θεραπεία ή παρακολούθηση;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio therapiaCheckd" value="true" name="therapia"
                                  id="therapiaCheckd" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio therapiaCheckd" value="false" name="therapia"
                                  id="therapiaCheckd" value="false" />Οχι</label>
                              <div id="therapiaText" style="display:none;">
                                <hr>
                                <p>Λόγος</p>


                                <textarea class="form-control" name="therapiaText" rows="4" cols="50">
</textarea>
                              </div>




                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πάθηση ή ενοχλήσεις από τα αυτιά ή τα μάτια;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="eyesEarsDiscomfort"
                                  id="eyesEarsDiscomfort" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="eyesEarsDiscomfort"
                                  id="eyesEarsDiscomfort" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πάθηση ή ενοχλήσεις από το νευρικό σύστημα (κεφαλαλγίες, ιλίγγους, λιποθυμίες);
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="illggous"
                                  id="illggous" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="illggous" id="illggous"
                                  value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πάθηση ή ενοχλήσεις από το γαστρεντερικό σύστημα (έλκος, γαστρίτιδα,
                          σκωλικοειδίτιδα, κολίτιδα, αιμμοροϊδες, κύστη κόκκυγος, κήλη, κ.λ.π.);

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="gastrenteriko"
                                  id="gastrenteriko" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="gastrenteriko"
                                  id="gastrenteriko" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πάθηση ή ενοχλήσεις από το αναπνευστικό σύστημα (πνευμονία, πλευρίτιδα, έμμονη
                          φαρυγγίτιδα, λαριγγίτιδα, αμυγδα- λίτιδα κ.λ.π.);


                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="anapnefstiko"
                                  id="anapnefstiko" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="anapnefstiko" id="anapnefstiko"
                                  value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πάθηση ή ενοχλήσεις από το κυκλοφορικό σύστημα (υπέρταση, υπόταση, καρδιοπάθεια,
                          αρτηριακή ή φλεβική κυκλοφο- ρία κάτω άκρων αιμοφόρα αγγεία κ.λ.π.);

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="kukloforiako"
                                  id="kukloforiako" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="kukloforiako" id="kukloforiako"
                                  value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πάθηση ή ενοχλήσεις από το ουροποιητικό σύστημα ή γεννητικό σύστημα (νεφροπάθεια,
                          νεφρολιθίαση, προστάτη, αφρο- δίσια νοσήματα κ.λ.π.);


                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="ouropoihtiko"
                                  id="ouropoihtiko" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="ouropoihtiko" id="ouropoihtiko"
                                  value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πάθηση ή ενοχλήσεις από το μυοσκελετικό σύστημα (αρθρίτιδες, οσφυαλγία,
                          ισχιαλγία, αυχενικό σύνδρομο κ.λ.π.);



                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="muoskeletiko"
                                  id="muoskeletiko" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="muoskeletiko" id="muoskeletiko"
                                  value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πρόβλημα αναιμίας; Εάν ναι διευκρινίστε λεπτομερώς

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio anaimiaCheckd" value="true" name="anaimia"
                                  id="anaimiaCheckd" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio anaimiaCheckd" value="false" name="anaimia"
                                  id="anaimiaCheckd" value="false" />Οχι</label>

                              <div id="anaimiaText" style="display:none;">
                                <hr>
                                <p>Διευκρινίστε λεπτομερώς.</p>


                                <textarea class="form-control" name="anaimiaText" rows="4" cols="50">
</textarea>
                              </div>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ πρόβλημα αλλεργίας; Εάν ναι διευκρινίστε λεπτομερώς

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio alergiaCheckd" value="true" name="alergia"
                                  id="alergiaCheckd" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio alergiaCheckd" value="false" name="alergia"
                                  id="alergiaCheckd" value="false" />Οχι</label>

                              <div id="alergiaText" style="display:none;">
                                <hr>
                                <p>Διευκρινίστε λεπτομερώς.</p>
                                <textarea class="form-control" name="alergiaText" rows="4" cols="50">
</textarea>


                              </div>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Υποβληθήκατε σε εγχειρήσεις; Εάν ναι, σε ποιές, που και πότε;

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio egxeirishCheckd" value="true" name="egxeirish"
                                  id="egxeirishCheckd" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio egxeirishCheckd" value="false" name="egxeirish"
                                  id="egxeirishCheckd" value="false" />Οχι</label>

                              <div id="egxeirishText" style="display:none;">
                                <hr>
                                <p>Διευκρινίστε λεπτομερώς.</p>



                                <div class="table-responsive">
                                  <table class="table border mb-0" id="egxeiriseisTable">
                                    <tr>
                                      <th>Ποιές;</th>
                                      <th>Που;</th>
                                      <th>Πότε;</th>
                                    </tr>
                                    <tbody id="egxeiriseisTableBody">

                                      <tr id="1">
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHO_1"></td>
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHERE_1"></td>
                                        <td> <input class="form-control" type="number" name="egxeirishTextWHEN_1"></td>
                                      </tr>

                                      <tr id="2">
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHO_2"></td>
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHERE_2"></td>
                                        <td> <input class="form-control" type="number" name="egxeirishTextWHEN_2"></td>
                                      </tr>

                                      <tr id="3">
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHO_3"></td>
                                        <td> <input class="form-control" type="text" name="egxeirishTextWHERE_3"></td>
                                        <td> <input class="form-control" type="number" name="egxeirishTextWHEN_3"></td>
                                      </tr>
                                    </tbody>

                                  </table>
                                  <hr>
                                  {{!-- <button type="button" class="btn btn-info" id="AddTableRow">Εισαγωγή
                                    γραμμών</button> --}}
                                </div>

                              </div>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>




                    <tr class="align-middle">
                      <td>
                        <p>Αναφέρατε τραυματισμούς (κακώσεις, κατάγματα κ.λ.π.)

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>


                              <label> Τραυματισμοί</label>
                              <hr>
                              <textarea class="form-control" name="traumatismoi" rows="4" cols="50">
</textarea>


                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>



                    <tr class="align-middle">
                      <td>
                        <p>Yπάρχουν υλικά οστεοσύνθεσης




                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="osteosinthesi"
                                  id="osteosinthesi" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="osteosinthesi"
                                  id="osteosinthesi" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p> Αναφέρατε άλλες νοσηλείες εκτός των ανωτέρω αιτιών

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">

                            <div class="table-responsive">
                              <table class="table border mb-0" id="nosiliesTable">
                                <tr>Άλλες νοσηλείες</tr>
                                <tbody id="nosiliesTableBody">

                                  <tr id="1">
                                    <td> <input class="form-control" type="text" name="allesNosilies_1"></td>
                                  </tr>

                                  <tr id="2">
                                    <td> <input class="form-control" type="text" name="allesNosilies_2"></td>
                                  </tr>


                                </tbody>

                              </table>

                              {{!-- <button type="button" class="btn btn-info" id="AddTableNosiliesRow">Εισαγωγή
                                γραμμών</button> --}}
                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ ενοχλήσεις ή υποβληθήκατε σε έλεγχο για σακχαρώδη
                          διαβήτη ή νόσο του θυροειδούς;
                          Εάν ναι, σε ποιές, πότε, και το αποτέλεσμα αυτών

                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio SakxarodiDiabitiCheckd" value="true"
                                  name="SakxarodiDiabiti" id="SakxarodiDiabitiCheckd" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio SakxarodiDiabitiCheckd" value="false"
                                  name="SakxarodiDiabiti" id="SakxarodiDiabitiCheckd" value="false" />Οχι</label>

                              <div id="SakxarodiDiabitiText" style="display:none;">
                                <div class="table-responsive">
                                  <table class="table border mb-0" id="diabitiTable">
                                    <tr>
                                      <td>Ποίες</td>
                                      <td>Πότε</td>
                                      <td>Αποτέλεσμα</td>
                                    </tr>

                                    <tbody id="SakxarodiDiabitisTableBody">
                                      <tr id="1">
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHO_1"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHEN_1"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiRESULT_1">
                                        </td>
                                      </tr>

                                      <tr id="2">
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHO_2"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHEN_2"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiRESULT_2">
                                        </td>
                                      </tr>

                                      <tr id="3">
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHO_3"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiWHEN_3"></td>
                                        <td> <input class="form-control" type="text" name="SakxarodiDiabitiRESULT_3">
                                        </td>
                                      </tr>
                                    </tbody>

                                  </table>
                                  <hr>
                                  {{!-- <button type="button" class="btn btn-info" id="AddTableDiabitiRow">Εισαγωγή
                                    γραμμών</button> --}}
                                </div>


                              </div>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είχατε ποτέ γυναικολογικό πρόβλημα ή πρόβλημα μαστών;
                          (για γυναίκες)


                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio gunaikologikaProblimata" value="true"
                                  name="gunaikologikaProblimata" id="gunaikologikaProblimata" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio gunaikologikaProblimata" value="false"
                                  name="gunaikologikaProblimata" id="gunaikologikaProblimata"
                                  value="false" />Οχι</label>

                            </div>
                            <div id="gunaikologikaProblimataText" style="display:none;">
                              <hr>
                              <p>Διευκρινίστε λεπτομερώς.</p>
                              <textarea class="form-control" name="gunaikologikaProblimataText" rows="4" cols="50">
</textarea>


                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Είστε έγκυος; Εάν ναι σε ποιό μήνα;


                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio egkuos" value="true" name="egkuos"
                                  id="egkuos" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio egkuos" value="false" name="egkuos" id="egkuos"
                                  value="false" />Οχι</label>

                            </div>
                            <div id="egkuosText" style="display:none;">
                              <hr>
                              <p>Αναφέρατε μήνα.</p>

                              <input class="form-control" name="egkuosText" type="text">


                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Αναφέρατε τον αριθμό των συλλήψεων καθώς και εάν περατώθηκαν ή όχι.



                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>


                              <textarea class="form-control" name="sullipseis" rows="4" cols="50">
</textarea>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Αναφέρατε τον αριθμό των αποβολών.



                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <input class="form-control" type="text" name="apovoles">


                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Έχετε υποβληθεί σε Check-up ή επί μέρους εξετάσεις ελέγχου το τελευταίο εξάμηνο;
                          Εάν ναι, σε ποιές, πότε, και το αποτέλεσμα αυτών
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <div>

                                <label>
                                  <input type="checkbox" class="radio" value="true" name="checkup"
                                    id="checkup" />Ναι</label>
                                <label>
                                  <input type="checkbox" class="radio" value="false" name="checkup" id="checkup"
                                    value="false" />Οχι</label>

                              </div>

                              <div class="table-responsive" style="display:none;" id="checkupText">
                                <table class="table border mb-0" id="checkupTable">
                                  <tr>
                                    <th>Ποιές;</th>
                                    <th>Που;</th>
                                    <th>Πότε;</th>
                                  </tr>
                                  <tbody id="checkupTableBody">

                                    <tr id="1">
                                      <td> <input class="form-control" type="text" name="checkupTextWHO_1"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHERE_1"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHEN_1"></td>
                                    </tr>

                                    <tr id="2">
                                      <td> <input class="form-control" type="text" name="checkupTextWHO_2"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHERE_2"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHEN_2"></td>
                                    </tr>

                                    <tr id="3">
                                      <td> <input class="form-control" type="text" name="checkupTextWHO_3"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHERE_3"></td>
                                      <td> <input class="form-control" type="text" name="checkupTextWHEN_3"></td>
                                    </tr>
                                  </tbody>

                                </table>

                                {{!-- <button type="button" class="btn btn-info" id="AddTableCheckupRow">Εισαγωγή
                                  γραμμών</button> --}}
                              </div>


                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="align-middle">
                      <td>
                        <p>Έχει μεταβληθεί σημαντικά το βάρος σας το τελευταίο έτος;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio" value="true" name="metavoliVarous"
                                  id="metavoliVarous" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio" value="false" name="metavoliVarous"
                                  id="metavoliVarous" value="false" />Οχι</label>

                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>


                    <tr class="align-middle">
                      <td>
                        <p>Λάβατε ή λαμβάνετε οποιαδήποτε φαρμακευτική αγωγή;
                          Εάν ναι, διευκρινίστε την αιτία και το είδος
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio farmaka" value="true" name="farmaka"
                                  id="farmaka" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio farmaka" value="false" name="farmaka" id="farmaka"
                                  value="false" />Οχι</label>

                            </div>

                            <div id="farmakaText" style="display:none;">
                              <hr>
                              <p>Αναφέρατε.</p>

                              <table class="table border mb-0">
                                <tr>
                                  <td>Αιτία </td>
                                  <td><input class="form-control" name="farmakaAitia" type="text"></td>
                                </tr>
                                <tr>
                                  <td>Είδος</td>
                                  <td> <input class="form-control" name="farmakaEidos" type="text"></td>
                                </tr>
                              </table>




                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>




                    <tr class="align-middle">
                      <td>
                        <p>Έχετε να δηλώσετε οτιδήποτε άλλο που έχει σχέση με την υγεία σας;
                        </p>
                      </td>
                      <td class="col-sm-4">
                        <div class="col-12">
                          <div class="form-check">
                            <div>

                              <label>
                                <input type="checkbox" class="radio allo" value="true" name="allo"
                                  id="allo" />Ναι</label>
                              <label>
                                <input type="checkbox" class="radio allo" value="false" name="allo" id="allo"
                                  value="false" />Οχι</label>

                            </div>

                            <div id="alloText" style="display:none;">
                              <hr>
                              <p>Αναφέρατε.</p>

                              <textarea class="form-control" name="alloText" cols="30" rows="10"></textarea>



                            </div>

                          </div>
                        </div>
                      </td>
                    </tr>

                  </tbody>
                </table>



                {{!-- -------------------------------- --}}





                <p><b>ΕΠΕΞΗΓΗΣΑΤΕ ΛΕΠΤΟΜΕΡΩΣ ΤΙΣ ΚΑΤΑΦΑΤΙΚΕΣ ΑΠΑΝΤΗΣΕΙΣ ΟΛΩΝ ΤΩΝ ΑΝΩΤΕΡΩ ΕΡΩΤΗΣΕΩΝ </b></p>


                <div class="col-12 pb-4">
                  <div class="form-check">
                    <input class="form-check-input" id="isMinor" type="checkbox" required="">
                    <label class="form-check-label" for="invalidCheck2">
                      Δηλώνω ότι οι ανωτέρω απαντήσεις είναι αληθείς και θα αποτελέσουν μέρος της αίτησής μου, που
                      υποβλήθηκε για ασφάλιση στην ΑΧΑ Ασφαλιστική Α.Ε. </label>
                  </div>
                </div>


                <div class="col-12 pt-2">
                  <button class="btn btn-primary" type="submit">Υποβολή Φόρμας</button>
                </div>
              </form>
            </div>
          </div>
          <!-- ============================================================ Form===================================================== -->








          <!--======================================== Email =====================================================================--->
          <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3  preview" role="tabpanel" id="UserEmailFormDiv">

              <form class="col g-3" action="/patient/SendPatientEmailForm" method="POST">





                <div class="table-responsive mt-3">
                  <table class="table border mb-0">

                    <tr class="align-middle">
                      <th class="col-md-2"> <label class="form-label" for="">Email Αποστολέα</label></th>

                      <td>
                        <div class="input-group"><span class="input-group-text" id="inputGroupPrepend2">@</span>
                          <input class="form-control" id="validationDefaultEmail" type="email"
                            placeholder="email@email.gr" name="AddUserWithMail" required="">
                        </div>
                      </td>

                    </tr>

                    <tr class="align-middle">
                      <th class="col-md-2"> <label class="form-label" for="">Θέμα</label></th>
                      <td>
                        <div class="input-group">
                          <input class="form-control" id="validationDefaultEmail" type="text"
                          name="AddUserWithMailSubject" required="">
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>


              


                <div class="col-12 mt-5">
                  <button class="btn btn-primary" type="submit">Αποστολή</button>
                </div>

              </form>

            </div>
          </div>

          <!--======================================== Email =====================================================================--->




        </div>
      </div>
    </div>
  </div>
</div>

{{#if error}}

<script>
  const myTimeout = setTimeout(myGreeting, 10000);

  function myGreeting() {
    $("#toast").hide()
  }
</script>

<div class="justify-content-end mt-5" id="toast" style="display: flex;">

  <div class="toast fade show bg-{{status}}" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <svg class="docs-placeholder-img rounded me-2" width="20" height="10" xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

      </svg><strong class="me-auto"></strong><small></small>
      <button class="btn-close" type="button" data-coreui-dismiss="toast" aria-label="Close"></button>
    </div>

    {{!-- MESSAGE --}}
    <div class="toast-body">{{message}}.</div>
  </div>
</div>
{{/if}}