<div class="row">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header"><strong>Αλλαγή Κωδικού </strong></div>

      <div class="card-body">


        <div class="example">

          <!-- Form -->
          <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3 active preview" role="tabpanel" id="UserFormDiv">
              <form class="row g-3" action="/changePassword" method="POST">

                <!--Old Password input -->
                <div class="col-md-7">
                  <label class="form-label" for="password">Κωδικός</label>
                  <input class="form-control" id="password" name="OldPassword" type="password" required="">
                </div>

                <!--New Password input -->
                <div class="col-md-7">
                  <label class="form-label" for="password">Νέος Κωδικός</label>
                  <input class="form-control" id="password" name="newPassword" type="password" required="">
                </div>

                <!--REpeat Password input 2-->
                <div class="col-md-7">
                  <label class="form-label" for="RepeatPassword">Επαναληψη Νέου Κωδικού</label>
                  <input class="form-control" id="RepeatPassword" name="RepeatPassword" type="password" required="">
                </div>







                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Υποβολή Φόρμας</button>
                </div>
              </form>
            </div>
          </div>
          <!-- Form -->


          <!-- Email -->
          <div class="tab-content rounded-bottom">
            <div class="tab-pane p-3  preview" role="tabpanel" id="UserEmailFormDiv">
              <form class="row g-3">


                <div class="col-md-6">
                  <label class="form-label" for="validationDefaultEmail">Email Αποστολέα</label>
                  <div class="input-group"><span class="input-group-text" id="inputGroupPrepend2">@</span>
                    <input class="form-control" id="validationDefaultEmail" type="email" placeholder="email@email.gr"
                      required="">
                  </div>
                </div>

                <div class="col-12">
                  <button class="btn btn-primary" type="submit">Αποστολή</button>
                </div>
              </form>
            </div>
          </div>
          <!-- Email -->





        </div>
      </div>
    </div>
  </div>
</div>

{{#if error}}
<script>
  const myTimeout = setTimeout(myGreeting, 3000);

  function myGreeting() {
    $("#toast").hide()
  }
</script>

<div class="justify-content-end mt-5" id="toast" style="display: flex;">

  <div class="toast fade show bg-{{status}}" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <svg class="docs-placeholder-img rounded me-2" width="20" height="10" xmlns="http://www.w3.org/2000/svg"
        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

      </svg><strong class="me-auto"></strong><small></small>
      <button class="btn-close" type="button" data-coreui-dismiss="toast" aria-label="Close"></button>
    </div>

    {{!-- MESSAGE --}}
    <div class="toast-body">{{message}}.</div>
  </div>
</div>
{{/if}}