<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    $(document).ready(function () {
        var a = window.location.href
        var id = a.substring(a.lastIndexOf('/') + 1);





        // $('#historyCheckd')

        axios({
            method: 'post',
            url: window.location.origin + '/edit/getPatient/' + id,
            //params: {
            //     :id
            // }
        }).then((response) => {

            if (response) {

                let data = response.data[0].ekthesiIatrou
                console.log(data)

                $("#gnorizeteAstheni").val(data.gnorizeteAstheni)
                $("#parakolouthisateAstheni").val(data.parakolouthisateAstheni)
                $("#upsos").val(data.upsos)
                $("#varos").val(data.varos)

                $("#thorakas").val(data.thorakas)
                $("#perimetosKoilias").val(data.perimetosKoilias)
                $("#eispnoi").val(data.eispnoi)
                $("#ekpnoi").val(data.ekpnoi)

                $("#anomaliesDiaplash").val(data.anomaliesDiaplash)
                $("#sfikseis").val(data.sfikseis)
                $("#sfikseisRithmos").val(data.sfikseisRithmos)
                $("#sustolikiA").val(data.sustolikiA)

                $("#diastolikiA").val(data.diastolikiA)
                $("#sustolikiB").val(data.sustolikiB)
                $("#diastolikiB").val(data.diastolikiB)
                $("#akroasiKardias").val(data.akroasiKardias)

                $("#kardiakiOsi").val(data.kardiakiOsi)
                $("#kardiakiOsiEanOxi").val(data.kardiakiOsiEanOxi)
                $("#kardiakiHxoi").val(data.kardiakiHxoi)
                $("#kardiakiHxoiOxi").val(data.kardiakiHxoiOxi)

                $("#AkroashThoraka").val(data.AkroashThoraka)
                $("#Dispnoia").val(data.Dispnoia)
                $("#EpiskopisiKoilias").val(data.EpiskopisiKoilias)
                $("#Oules").val(data.Oules)

                $("#EmfanisiGlossas").val(data.EmfanisiGlossas)
                $("#KatastashOulon").val(data.KatastashOulon)
                $("#flevikiKukloforia").val(data.flevikiKukloforia)
                $("#neurikoSusthma").val(data.neurikoSusthma)

                $("#Antanaklastika").val(data.Antanaklastika)
                $("#Ourodoxos").val(data.Ourodoxos)
                $("#varosOuros").val(data.varosOuros)
                $("#leukoma").val(data.leukoma)

                $("#SakxaroOyra").val(data.SakxaroOyra)
                $("#diadikasiaOura").val(data.diadikasiaOura)
                $("#blabhMuoskeletiko").val(data.blabhMuoskeletiko)
                $("#diogkoshThiroeidi").val(data.diogkoshThiroeidi)

                $("#dermatotherapeia").val(data.dermatotherapeia)



                if (data.proteinomenosGiaAsfaleia) {
                    $('#proteinomenosGiaAsfaleia').attr('checked', 'checked')
                }

                if (data.AuksimenoKundino) {
                    $('#AuksimenoKundino').attr('checked', 'checked')
                }

                if (data.Apporipsh) {
                    $('#Apporipsh').attr('checked', 'checked')
                }

                if (data.peraiteroElegxos) {
                    $('#peraiteroElegxos').attr('checked', 'checked')
                }

                if (data.anablithei) {
                    $('#anablithei').attr('checked', 'checked')
                }

                $("#leptomeriesAKat").val(data.leptomeriesAKat)







            }
        }).catch((err) => {
            console.log(err);
        })


    });
</script>


<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header">
                <h2>ΕΜΠΙΣΤΕΥΤΙΚΗ ΕΚΘΕΣΗ ΕΞΕΤΑΣΤΗ ΙΑΤΡΟΥ</h2>
            </div>

            <div class="card-body">

                {{!-- <p class="text-medium-emphasis small">Ενδεχομένος οδηγίες προς τον χρήστη που συμπληρώνει την
                    φόρμα.</p>
                --}}



                </script>


                <div class="example">

                    <!-- Form -->
                    <div class="tab-content rounded-bottom">
                        <div class="tab-pane p-3 active preview" role="tabpanel" id="preview-789" id="UserFormEmail">


                            <form class="row g-3" action="/edit/submitPatient/{{id}}" method="POST" name="myForm">



                                <div class="col-md-4">
                                    <label class="form-label" for="gnorizeteAstheni">Γνωρίζετε προσωπικά τον
                                        προτεινόμενο για ασφάλιση; </label>
                                    <input class="form-control" id="gnorizeteAstheni" name="gnorizeteAstheni"
                                        type="text" required="" />

                                </div>


                                <div class="col-md-4">
                                    <label class="form-label" for="parakolouthisateAstheni">Τον έχετε παρακολουθήσει
                                        ιατρικά; </label>
                                    <input class="form-control" id="parakolouthisateAstheni"
                                        name="parakolouthisateAstheni" type="text" required="" />
                                </div>




                                <hr>


                                <div class="col-md-4">
                                    <label class="form-label" for="upsos">Ύψος: </label>
                                    <input class="form-control" id="upsos" name="upsos" type="text" required="" />
                                </div>


                                <div class="col-md-4">
                                    <label class="form-label" for="varos">Βάρος: </label>
                                    <input class="form-control" id="varos" name="varos" type="text" required="" />
                                </div>


                                <div class="col-md-4">
                                    <label class="form-label" for="thorakas">Περίμετρος θώρακα </label>
                                    <input class="form-control" id="thorakas" name="thorakas" type="text" required="" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label" for="perimetosKoilias">Περίμετρος κοιλίας </label>
                                    <input class="form-control" id="perimetosKoilias" name="perimetosKoilias"
                                        type="text" required="" />
                                </div>


                                <div class="col-md-4">
                                    <label class="form-label" for="eispnoi"> Εισπνοή: </label>
                                    <input class="form-control" id="eispnoi" name="eispnoi" type="text" required="" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label" for="ekpnoi"> Εκπνοή: </label>
                                    <input class="form-control" id="ekpnoi" name="ekpnoi" type="text" required="" />
                                </div>


                                <hr>


                                <div class="col-md-4">
                                    <label class="form-label" for="anomaliesDiaplash"> Υπάρχουν ανωμαλίες στη διάπλαση,
                                        διογκωμένοι
                                        αδένες κ.λ.π.;
                                    </label>
                                    <input class="form-control" id="anomaliesDiaplash" name="anomaliesDiaplash"
                                        type="text" required="" />
                                </div>

                                <hr>

                                <div class="col-md-10">


                                    <div class="col-md-4">
                                        <label class="form-label" for="sfikseis"> Σφύξεις:
                                        </label>
                                        <input class="form-control" id="sfikseis" name="sfikseis" type="text"
                                            required="" />
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label" for="sfikseisRithmos"> Ο σφυγμός είναι ρυθμικός;
                                        </label>
                                        <input class="form-control" id="sfikseisRithmos" name="sfikseisRithmos"
                                            type="text" required="" />
                                    </div>
                                </div>





                                <div>
                                    <div class="table-responsive">

                                        <table class="table border mb-0" id="egxeiriseisTable">
                                            <thead class="d-flex justify-content-center">

                                                <th>
                                                    <b>Α ́ ΜΕΤΡΗΣΗ</b>
                                                </th>

                                            </thead>


                                            <tbody>
                                                <tr>

                                                    <td>Συστολική: </td>
                                                    <td> <input class="form-control" type="text" name="sustolikiA"
                                                            id="sustolikiA">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        Διαστολική:
                                                    </td>
                                                    <td> <input class="form-control" type="text" name="diastolikiA"
                                                            id="diastolikiA">
                                                    </td>

                                                </tr>



                                            </tbody>

                                        </table>

                                        {{!-- <button type="button" class="btn btn-info" id="AddTableRow">Εισαγωγή
                                            γραμμών</button> --}}
                                    </div>

                                    <br>
                                    <div class="table-responsive">

                                        <table class="table border mb-0" id="egxeiriseisTable">
                                            <thead class="d-flex justify-content-center">

                                                <th>
                                                    <b>B ́ ΜΕΤΡΗΣΗ</b>
                                                </th>

                                            </thead>


                                            <tbody>
                                                <tr>

                                                    <td>Συστολική: </td>
                                                    <td> <input class="form-control" type="text" name="sustolikiB"
                                                            id="sustolikiB">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        Διαστολική:
                                                    </td>
                                                    <td> <input class="form-control" type="text" name="diastolikiB"
                                                            id="diastolikiB">
                                                    </td>

                                                </tr>



                                            </tbody>

                                        </table>


                                    </div>

                                </div>


                                <br>
                                <hr>

                                <div class="col-md-4">
                                    <label class="form-label" for="akroasiKardias"> Ακρόαση καρδιάς: (συχνότητα,
                                        φυσήματα κ.λ.π.)

                                    </label>
                                    <input class="form-control" id="akroasiKardias" name="akroasiKardias" type="text"
                                        required="" />
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label" for="kardiakiOsi"> Η καρδιακή ώση βρίσκεται μέσα
                                            από
                                            τη μεσοκλειδική γραμμή;
                                        </label>
                                        <input class="form-control" id="kardiakiOsi" name="kardiakiOsi" type="text"
                                            required="" />
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label" for="kardiakiOsiEanOxi"> Εάν όχι, ποιά είναι η θέση
                                            της
                                            και
                                            ποιά εξήγηση δίδετε για την ανωμαλία;
                                        </label>
                                        <input class="form-control" id="kardiakiOsiEanOxi" name="kardiakiOsiEanOxi"
                                            type="text" required="" />
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="col-md-4">
                                        <label class="form-label" for="kardiakiHxoi"> Οι καρδιακή ήχοι είναι
                                            φυσιολογικοί;
                                        </label>
                                        <input class="form-control" id="kardiakiHxoi" name="kardiakiHxoi" type="text"
                                            required="" />
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label" for="kardiakiHxoiOxi"> Εάν όχι, δώσατε λεπτομέρειες

                                        </label>
                                        <input class="form-control" id="kardiakiHxoiOxi" name="kardiakiHxoiOxi"
                                            type="text" required="" />
                                    </div>

                                </div>


                                <hr>



                                <div class="col-md-4">
                                    <label class="form-label" for="AkroashThoraka"> Ακρόαση θώρακα:
                                    </label>
                                    <input class="form-control" id="AkroashThoraka" name="AkroashThoraka" type="text"
                                        required="" />
                                </div>


                                <div class="col-md-4">
                                    <label class="form-label" for="Dispnoia"> Υπάρχει δύσπνοια;
                                    </label>
                                    <input class="form-control" id="Dispnoia" name="Dispnoia" type="text" required="" />
                                </div>


                                <hr>



                                <div class="col-md-4">
                                    <label class="form-label" for="EpiskopisiKoilias"> Επισκόπηση - Ψηλάφηση κοιλίας:
                                        (έλεγχος κήλης)

                                    </label>
                                    <input class="form-control" id="EpiskopisiKoilias" name="EpiskopisiKoilias"
                                        type="text" required="" />
                                </div>


                                <div class="col-md-4">
                                    <label class="form-label" for="Oules"> Υπάρχουν ουλές;

                                    </label>
                                    <input class="form-control" id="Oules" name="Oules" type="text" required="" />
                                </div>


                                <div class="col-md-4">
                                    <label class="form-label" for="EmfanisiGlossas"> Ποιά η εμφάνηση της γλώσσας;

                                    </label>
                                    <input class="form-control" id="EmfanisiGlossas" name="EmfanisiGlossas" type="text"
                                        required="" />
                                </div>


                                <div class="col-md-4">
                                    <label class="form-label" for="KatastashOulon"> Ποιά η κατάσταση των ούλων και των
                                        δοντιών;
                                    </label>
                                    <input class="form-control" id="KatastashOulon" name="KatastashOulon" type="text"
                                        required="" />
                                </div>


                                <hr>

                                <div class="col-md-4">
                                    <label class="form-label" for="flevikiKukloforia"> Έλεγχος φλεβικής κυκλοφορίας των
                                        κάτω άκρων: (κιρσοί, κ.λ.π.)

                                    </label>
                                    <input class="form-control" id="flevikiKukloforia" name="flevikiKukloforia"
                                        type="text" required="" />
                                </div>


                                <hr>
                                <h4>Έλεγχος νευρικού συστήματος:</h4>
                                <div class="col-md-4">
                                    <label class="form-label" for="neurikoSusthma">
                                        Υπάρχουν σημεία νόσου εγκεφάλου, νωτιαίου μυελού ή νεύρων;

                                    </label>
                                    <input class="form-control" id="neurikoSusthma" name="neurikoSusthma" type="text"
                                        required="" />
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label" for="Antanaklastika"> Τα αντανακλαστικά της κόρης και
                                        επιγονατίδας είναι φυσιολογικά;

                                    </label>
                                    <input class="form-control" id="Antanaklastika" name="Antanaklastika" type="text"
                                        required="" />
                                </div>

                                <hr>

                                <h3><u>Οι εξετάσεις θα γίνονται με τη χρήση MULTISTIX</u> </h3>

                                <h4 class="mt-3"> Έλεγχος ουροποιογεννητικού συστήματος: </h4>

                                <div class="col-md-4">
                                    <label class="form-label" for="Ourodoxos"> Υπάρχουν στοιχεία παθήσεως ουροδόχου
                                        κύστεως, νεφρών, στενώσεως ουρήθρας ή αφροδισίου νοσήματος
                                    </label>
                                    <input class="form-control" id="Ourodoxos" name="Ourodoxos" type="text"
                                        required="" />
                                </div>

                                <div class="row mt-5">
                                    <p>Δείγμα ούρων λαμβάνεται πάντα κατά το χρόνο της εξετάσεως</p>

                                    <div class="col-md-4">
                                        <label class="form-label" for="varosOuros"> α) Ειδικό βάρος ούρων

                                        </label>
                                        <input class="form-control" id="varosOuros" name="varosOuros" type="text"
                                            required="" />
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label" for="leukoma">β) Υπάρχει λεύκωμα στα ούρα;

                                        </label>
                                        <input class="form-control" id="leukoma" name="leukoma" type="text"
                                            required="" />
                                    </div>

                                    <div class="col-md-4">
                                        <label class="form-label" for="SakxaroOyra"> γ) Υπάρχει σάκχαρο στα ούρα;

                                        </label>
                                        <input class="form-control" id="SakxaroOyra" name="SakxaroOyra" type="text"
                                            required="" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label" for="diadikasiaOura">Αναφέρατε ποιά διαδικασία
                                        χρησιμοποιήθηκε για την ανίχνευση των ανωτέρω

                                    </label>
                                    <input class="form-control" id="diadikasiaOura" name="diadikasiaOura" type="text"
                                        required="" />
                                </div>




                                <hr>

                                <div class="col-md-4">
                                    <label class="form-label" for="blabhMuoskeletiko">Υπάρχει εμφανής βλάβη από το
                                        μυοσκελετικό σύστημα; (Δυσχέρεια βαδλισεως, εμφανής οσφυαλγία, παραμορφώσεις
                                        κ.λ.π.)

                                    </label>
                                    <input class="form-control" id="blabhMuoskeletiko" name="blabhMuoskeletiko"
                                        type="text" required="" />
                                </div>






                                <hr>

                                <div class="col-md-4">
                                    <label class="form-label" for="diogkoshThiroeidi">Υπάρχει διόγκωση του θυροειδούς ή
                                        εξώφθαλμος;


                                    </label>
                                    <input class="form-control" id="diogkoshThiroeidi" name="diogkoshThiroeidi"
                                        type="text" required="" />
                                </div>







                                <hr>

                                <div class="col-md-4">
                                    <label class="form-label" for="dermatotherapeia">Υπάρχει εμφανής δερματοπάθεια;

                                    </label>
                                    <input class="form-control" id="dermatotherapeia" name="dermatotherapeia"
                                        type="text" required="" />
                                </div>


                                <hr>

                                <div class="d-flex   justify-content-center row mt-5">
                                    <div class="col-md-6 mb-5 ">
                                        <h2><u> ΣΥΜΠΕΡΑΣΜΑ ΕΞΕΤΑΣΤΗ ΙΑΤΡΟΥ</u> </h2>
                                    </div>


                                    <div class="table-responsive d-flex justify-content-center mb-3">

                                        <table class="table border mb-0 w-75" id="egxeiriseisTable">
                                            <tbody>
                                                <tr>
                                                    <td>α. Είναι ασφαλίσιμος ο προτεινόμενος για ασφάλιση </td>
                                                    <td> <input type="checkbox" class="radio" value="true"
                                                            name="proteinomenosGiaAsfaleia"
                                                            id="proteinomenosGiaAsfaleia" /></td>
                                                </tr>

                                                <tr>
                                                    <td>β. Ο προτεινόμενος για ασφάλιση έχει αυξημένο κίνδυνο</td>

                                                    <td> <input type="checkbox" class="radio" value="true"
                                                            name="AuksimenoKundino" id="AuksimenoKundino" /></td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        γ. Η περίπτωση πρέπει να απορριφθεί
                                                    </td>


                                                    <td> <input type="checkbox" class="radio" value="true"
                                                            name="Apporipsh" id="Apporipsh" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        δ. Απαιτείται περαιτέρω έλεγχος
                                                    </td>


                                                    <td> <input type="checkbox" class="radio" value="true"
                                                            name="peraiteroElegxos" id="peraiteroElegxos" />
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td>
                                                        ε. Η περίπτωση πρέπει να αναβληθεί
                                                    </td>


                                                    <td> <input type="checkbox" class="radio" value="true"
                                                            name="anablithei" id="anablithei" />
                                                    </td>
                                                </tr>

                                            </tbody>

                                        </table>

                                    </div>



                                    <div class="col-md-6 mt-3">
                                        <label class="form-label" for="leptomeriesAKat"><b>Να δοθούν λεπτομέρειες εάν ο
                                                προτεινόμενος για ασφάλιση δεν ανήκει στην α κατηγορία.
                                            </b>

                                        </label>
                                        <textarea class="form-control" name="leptomeriesAKat" id="leptomeriesAKat"
                                            cols="15" rows="5"></textarea>
                                    </div>

                                </div>

                                {{!-- <button type="button" class="btn btn-info" id="AddTableRow">Εισαγωγή
                                    γραμμών</button> --}}



                                <div class="row">


                                    <div class="col-md-4">
                                        <label class="form-label" for="DateOfSubmit">Ημερομηνία</label>
                                        <input class="form-control" name="DateOfSubmit" type="date" required=""
                                            value="{{formatTime user.DateOfBirth  'YYYY-MM-DD'}}">
                                    </div>


                                </div>


                                <div class="col-md-6 pt-5">
                                    <input type="checkbox" class="radio" value="true" name="oloklirosh"
                                        id="oloklirosh" />
                                    <label class="form-label" for="oloklirosh">Έχετε Ολοκληρώσει την
                                        καταχώρηση
                                        του Ασθενή? </label>

                                </div>




                                <div class="col-12">
                                    <button class="btn btn-primary" type="submit">Υποβολή Φόρμας</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- Form -->





                </div>
            </div>
        </div>
    </div>



    {{#if error}}
    <script>
        const myTimeout = setTimeout(myGreeting, 3000);

        function myGreeting() {
            $("#toast").hide()
        }
    </script>

    <div class="justify-content-end mt-5" id="toast" style="display: flex;">

        <div class="toast fade show bg-{{status}}" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <svg class="docs-placeholder-img rounded me-2" width="20" height="10" xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">

                </svg><strong class="me-auto"></strong><small></small>
                <button class="btn-close" id="btn-close" type="button" data-coreui-dismiss="toast"
                    aria-label="Close"></button>
            </div>

            {{!-- MESSAGE --}}
            <div class="toast-body">{{message}}.</div>
        </div>
    </div>
    {{/if}}

</div>