</div>
</div>
<!-- Content -->

<footer class="footer d-flex justify-content-center">
  <div class="text-center">
    <p>© 2022</p>
  </div>
</footer>
</div>

<script src="/js/myjs.js"></script>
<!-- CoreUI and necessary plugins-->
<script src="/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="/vendors/simplebar/js/simplebar.min.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="/vendors/chart.js/js/chart.min.js"></script>
<script src="/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="/vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.21/js/jquery.dataTables.min.js"
  integrity="sha512-BkpSL20WETFylMrcirBahHfSnY++H2O1W+UnEEO4yNIl+jI2+zowyoGJpbtk6bx97fBXf++WJHSSK2MV4ghPcg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script src="@{/static/resources/assets/js/print.min.js}"></script>

<script src="/js/main.js"></script>